# Chezmoi configuration
# Documentation: https://www.chezmoi.io/reference/configuration-file/

[data]
    # Personal information
    name = {{ promptString "name" "(git) What is your full name" | quote }}
    email = {{ promptString "email" "(git) What is your email address" | quote }}

    # Detect OS and environment
    isLinux = {{ eq .chezmoi.os "linux" }}
    isMacOS = {{ eq .chezmoi.os "darwin" }}
    isDevContainer = {{ env "REMOTE_CONTAINERS" | not | not }}

[edit]
    command = "nvim"

[diff]
    command = "nvim"
    args = ["--diff"]
